body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7fafc;
    margin: 0;
}
.container{
    width: 100%;
    max-width: 900px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 9px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.description{
    text-align: center;
    margin-bottom: 40px;
    color: #2d3748;
}
.description p{
    font-size: 20px;
    margin-bottom: 16px;
}
.description ul{
    list-style-type: disc;
    padding-left: 20px;
    text-align: left;
    color: #4a5568;
}
.description li{
    margin-bottom: 8px;
}
.description li strong{
    font-weight: bold;
}
.completed{
    color: #48bb78;
}
.current{
    color: #fbd23e;
}
.upcoming{
    color: #7a8a9f;
}
.tracker{
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.tracker::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: calc(100% - 40px);
    height: 4px;
    background: linear-gradient(to right, #48bb78 25%, #3cc94b 25% 50%, #e2e8f0 78%);
    z-index: 1;
}
.step{
    flex: 1;
    text-align: center;
    position: relative;
    z-index: 2;
    margin: 0 15px;

}
.step div{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 8px;
    font-size: 24px;
}
.step:nth-child(1) div{
    background-color: #48bb78; 
}
.step:nth-child(2) div {
    background-color: #ecc94b;
}
.step:nth-child(3) div {
    background-color: #e2e8f0;
}
.step:nth-child(4) div {
    background-color: #e2e8f0;
}
.step span{
    display: block;
    font-size: 16px;
    color: #4a5568;
}